body {
    background-color: #212121;
    font-family: 'Lusitana', serif;
    font-size: xx-large;
    color: #EEEEEE;
}
img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p.center {
    text-align: center;
}
